<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment names="Development">
        <!-- Css -->
        <link rel="stylesheet" asp-href-include="~/css/*.css">
        <!-- Js -->
        <script src="~/js/jquery.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/system.js"></script>
        <script src="~/js/rx.js"></script>
        <script src="~/js/typescript.js"></script>
        <script src="~/js/angular2/angular2.dev.js"></script>
        <script src="~/js/angular2/angular2-polyfills.js"></script>
        <script src="~/js/angular2/http.dev.js"></script>
        <script src="~/js/angular2/router.dev.js"></script>
    </environment>

    <environment names="Production">
        <!-- Css -->
        <link rel="stylesheet" asp-href-include="~/css/*.min.css" asp-append-version="true">
        <!-- Js -->
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/system.min.js"></script>
        <script src="~/js/rx.min.js"></script>
        <script src="~/js/typescript.min.js"></script>
        <script src="~/js/angular2/angular2.dev.min.js"></script>
        <script src="~/js/angular2/angular2-polyfills.min.js"></script>
        <script src="~/js/angular2/http.dev.min.js"></script>
        <script src="~/js/angular2/router.dev.min.js"></script>
    </environment>

    <!-- Configure SystemJS -->
    <script>
            System.config({
                packages: {
                    app: {
                        format: 'register',
                        defaultExtension: 'js'
                    }
                }
            });
            System.import('app/boot')
                  .then(null, console.error.bind(console));
    </script>
</head>
<base href="/" />
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
